
:root {
    --fontMono: 'Times', monospace;
    --primaryColorDark: #046BA5;
    --primaryColorLight: #fff;
    --secondaryColor: #E8F908;

}

  h1 {
      margin: 0;
      position: relative;
      z-index: 3;
  }

a {
    color: var(--tertiaryColor);
    transition: all 0.2s ease-in-out;

&:hover {
     color: var(--primaryColorLight);
 }
}

  .button {
      display: inline-block;
      color: var(--primaryColorLight);
      font-size: 1em;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding:  0.1em;
      cursor: pointer;
      box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
&.buttonLarge {
     font-size: 1.1em;
     padding: 0.75em 4em;
 }
}

input[type="email"] {
    padding: 0.6em 1.2em;
    border: 0;
    min-width: 190px;
    border-radius: 1px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.3);
    color: var(--primaryColorLight);

&::placeholder {
     color: var(--primaryColorLight);
 }
}

input[type="password"] {
    padding: 0.6em 1.2em;
    border: 0;
    min-width: 150px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.3);
    color: var(--primaryColorLight);

&::placeholder {
     color: var(--primaryColorLight);
     opacity: 1;
     font-weight: 500;
 }
}


  body {
      min-width: 400px;
      margin: 0;
      padding: 0;
      font-family: var(--fontMono);
      background-color: var(--primaryColorLight);
      display:flex;
      flex-direction: column;
  }
.new {
    color: var(--primaryColorLight);
    background: #028250;
    padding:  0.5em 1em;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.85em;
    width: fit-content;
}

  header {
      position: relative;
      right: 40px;
      z-index: 2;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr 2.5fr 1.5fr;
  }
.headerone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--primaryColorDark);
}
.headerCopy {
    grid-column: 3/6;
    grid-row: 2/3;
    color: var(--primaryColorLight);
}

nav {
    display: grid;
    grid-column: 2/12;
    grid-row: 1/2;
    grid-template-columns: 2fr 1fr;
    align-items: left;
    position: relative;

.logo {
    font-family: var(--fontMono);
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 70px;
    color: var(--secondaryColor);
&:hover {
     color: var(--primaryColorLight);
 }
}
.navLinksWrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1.3em;
    align-items: center;

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    text-shadow: 0px;
}
}
}

  main {
      display: flex;
      flex-direction: column;
  }
.section {
    padding: 4em 0;

.button {
    margin: 1em 0;
}

.sectionImg {
    background: url("https://zdnet1.cbsistatic.com/hub/i/r/2019/04/17/1f68c3a6-495e-4325-bc16-cc531812f0ec/thumbnail/770x433/84ff4194826e8303efb771cd377a854f/chuwi-herobook-header.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60%;
    height: 450px;
    grid-column: 1/7;
}
}


