
:root {
    --fontMono: 'Times', monospace;
    --primaryColorBlue: #046BA5;
    --primaryColorWhite: #fff;
    --secondaryColor: #E8F908;
}

h1 {
    margin: 0;
    position: relative;
    z-index: 3;
}

a {
    color: Black;
}
a:hover {
    color: var(--primaryColorWhite);
}

.button {
    display: inline-block;
    color: var(--primaryColorWhite);
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding:  0.1em;
    cursor: pointer;
}
.button:hover {
    color: var(--secondaryColor);
}

input[type="email"] {
    padding: 0.6em 1.2em;
    border: 0;
    min-width: 190px;
    border-radius: 1px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.3);
    color: var(--primaryColorWhite);
}

input[type="password"] {
    padding: 0.6em 1.2em;
    border: 0;
    min-width: 150px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.3);
    color: var(--primaryColorWhite);

}
input::placeholder {
    color: var(--primaryColorWhite);
}

.new {
    color: var(--primaryColorWhite);
    background: #028250;
    padding:  0.5em 1em;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.85em;
    width: fit-content;
}

header {
    position: relative;
    right: 0px;
    display: grid;
    grid-template-columns: 60px 10px;
    grid-template-rows: 60px 60px;
}
.headerone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--primaryColorBlue);
}
.headerCopy {
    grid-column: 3/6;
    grid-row: 2/3;
    color: var(--primaryColorWhite);
}

nav {
    display: grid;
    grid-column: 2/12;
    grid-row: 1/2;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    position: relative;
}

nav .navLinksWrapper {

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1.3em;
    align-items: center;

}

nav .navLinksWrapper a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

nav .logo
{
    font-family: var(--fontMono);
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
    color: var(--secondaryColor);
}

nav logo:hover
{
    color: var(--primaryColorWhite);
}

main {
    display: flex;
    flex-direction: column;
}

.section
{
    padding: 4em 0;
}
.section .button
{
    margin: 1em 0;
}


