
:root {
    --fontMono: 'Times', monospace;
    --primaryColorBlue: #046BA5;
    --primaryColorWhite: #fff;
    --secondaryColor: #E8F908;
}

h1 {
    margin: 0;
    position: relative;
    z-index: 3;
}

a {
    color: Black;
}
a:hover {
    color: var(--primaryColorWhite);
}

.button {
    display: inline-block;
    color: var(--primaryColorWhite);
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding:  0.1em;
    cursor: pointer;
}
.button:hover {
    color: var(--secondaryColor);
}

input[type="email"] {
    padding: 0.6em 1.2em;
    border: 0;
    min-width: 190px;
    border-radius: 1px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.3);
    color: var(--primaryColorWhite);
}

input[type="password"] {
    padding: 0.6em 1.2em;
    border: 0;
    min-width: 150px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.3);
    color: var(--primaryColorWhite);

}
input::placeholder {
    color: var(--primaryColorWhite);
}

.new {
    color: var(--primaryColorWhite);
    background: #028250;
    padding:  0.5em 1em;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.85em;
    width: fit-content;
}

header {
    position: relative;
    right: 0px;
    display: grid;
    grid-template-columns: 60px 10px;
    grid-template-rows: 60px 60px;
}
.headerone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--primaryColorBlue);
}
.headerCopy {
    grid-column: 3/6;
    grid-row: 2/3;
    color: var(--primaryColorWhite);
}

nav {
    display: grid;
    grid-column: 2/12;
    grid-row: 1/2;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    position: relative;
}

nav .navLinksWrapper {

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1.3em;
    align-items: center;

}

nav .navLinksWrapper a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

nav .logo
{
    font-family: var(--fontMono);
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
    color: var(--secondaryColor);
}

nav logo:hover
{
    color: var(--primaryColorWhite);
}

main {
    display: flex;
    flex-direction: column;
}

.section
{
    padding: 4em 0;
}
.section .button
{
    margin: 1em 0;
}



/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
@extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '$';
}


/* Body/Header stuff */
body {
    padding: 0px 30px 30px 20px;

    font-weight: 100;
}

h1 {
    font-weight: 100;
}

label {
    color: var(--primaryColorBlue);
}

.shopping-cart {
    margin-top: -45px;
}


/* Column headers */

.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid ;
}



/* Product entries */

.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-left: 40px;
    border-bottom: 1px solid;

.product-image {
    margin-right: 40px;
    text-align: center;
}
.product-image img {
    width: 100px;
}

.product-details .product-title {
    margin-right: 40px;

}
.product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product-quantity input {
    width: 40px;

}

.remove-product {
    border: 0;
    margin-right: 40px;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.remove-product:hover {
    background-color: #a44;
}
}

/* Totals section */
.totals {
.totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals-value {
    float: right;
    width: 21%;
    text-align: right;
}
}

.totals-item-total {
    font-family: Helvetica;
}
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--primaryColorBlue);
    color: #fff;
    font-size: 25px;
}

.checkout:hover {
    background-color: #494;
}

/* Make adjustments for tablet */


.shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid ;
}

.column-labels {
    display: none;
}

.product-image {
    float: right;
    width: auto;
img {
    margin: 0 0 10px 10px;
}
}

.product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
}

.product-price {
    clear: both;
    width: 70px;
}

.product-quantity {
    width: 100px;
input {
    margin-left: 20px;
}
}

.product-quantity:before {
    content: 'x';
}

.product-removal {
    width: auto;
}

.product-line-price {
    float: right;
    width: 70px;
}



/* Make more adjustments for phone */
.product-removal {
    float: right;
}

.product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
}

.product .product-line-price:before {
    content: 'Item Total: $';
}

.totals {
.totals-item {
label {
    width: 60%;
}

.totals-value {
    width: 40%;
}

}
}

.list{
    margin: 40px;
    padding-bottom: 4px;
}

}

